<h1>Eat-Dem-Burgers!</h1>

<h2>Burgers that are ready to eat!</h2>

<ul>
  {{#each burgers}}
  <li>
    <form action="api/burgers/{{this.id}}">
      {{this.id}}. {{this.burger_name}}
      <button data-id="{{this.id}}" data-devoured="{{devoured}}" class="devour-it">Devour It!</button>
    </form>
  </li>
  {{/each}}
</ul>

<h2>Burgers that are already eaten!</h2>
{{!--we will put the devoured burgers here --}}
{{!--
<ul>
  {{#each burgers}} {{#if devoured}} {{> burgers/burgers-block sleep=false}} {{/if}} {{/each}}
</ul> --}}

<h2>Add a Burger</h2>
<form action="/api/burgers" method="POST" id="addBurger" class="button-size">
	<textarea type="text" class="burgerText" name="burger"></textarea>
	<button id="submitButton" type="submit">Add Burger!</button>
</form>



{{!-- I couldn't get the PUT to work. It kept saying cannot "GET" and i'm not sure why here. --}}
  <script>
    // Make sure we wait to attach our handlers until the DOM is fully loaded.
  $(".change-sleep").on("click", function(event) {
    var id = $(this).data("id");
    console.log("Id: " + id)

    var Devoured = {
      devoured: 1
    };

    // Send the PUT request.
    $.ajax("/api/cats/" + id, {
      type: "PUT",
      data: Devoured
    }).then(
      function() {
        console.log("changed to devoured!");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });
  </script>




